body{
    background-image:linear-gradient( #2F470A, #DBD2E0);
}

.navbar-brand {
    float: left;
    font-size: 25px;
    line-height: 20px;
    width: 11px;
    padding-left: 20px;
    margin-top:-12px;
}

#page-title{
    font-size:50px;
    display:flex;
    justify-content:center;
    word-spacing: 2px;
}

#warning-title{
    display:flex;
    justify-content:center;
    font-weight: bold;
}

.warning-info{
    line-height: 21px;
    font-size: 15px;
}

.warning-description{
    display:flex;
    justify-content:center;
}

.row > div{
        color: black;
        line-height: 15px;
}
.row > div:nth-of-type(1){
  text-align:center;
  color:black;
}

footer{
    padding-top: 5px;
    margin-top: 2px;
}
.page-header{
    margin-top: -20px;
}
p {
   color: black;
}

#last-row{
    margin-bottom: 35px;
}