body{
    background-image:linear-gradient( #2F470A, #DBD2E0);
}

.navbar-brand {
    float: left;
    font-size: 25px;
    line-height: 20px;
    width: 11px;
    padding-left: 20px;
    margin-top:-12px;
}

.expandMoreContent{
    height:115px;
    overflow: hidden; 
    transition:height 0.5s ease-in-out;
    position:relative;
}

.expandMoreContent.expand-active{
    height:auto;
    transition:height 0.5s ease-in-out;
}

.expandMoreHolder{
    padding:15px 0;
    text-align: center;
}

.btn-expand-more{
    cursor:pointer;
    border:none;
    display:inline-block;
}

#main-heading, .animate__animated animate__slideInLeft {
    font-size:45px;
    color:black;
    display:flex;
    justify-content:center;
}

.condition-title{
    display:flex;
    justify-content:center;
    font-size:35px;
    font-weight:bold;
    text-decoration: underline;
}

.condition-text{
    line-height: 17px;
}

.subheading{
    display:flex;
    justify-content:center;
    font-size:23px;
    font-weight:bold;
}

.row > div{
        color: black;
        line-height: 15px;
}

.page-header{
    margin-top: -20px;
}

#more {
    display: none;
    
}